.popup {
  &__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: $black;
    display: none;
  }
  &__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 50vh;
    min-width: 65vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../images/bg-popup.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__title {
    max-width: 402px;
    text-align: center;
    font-family: Times New Roman;
    font-size: 45px;
    text-transform: capitalize;
  }
  &__subtitle {
    max-width: 383px;
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
  &__socials {
    margin-top: 30px;
    display: flex;
    column-gap: 30px;
  }
  &__social {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  &__right {
    padding: 82px 30px;
    display: flex;
    flex-direction: column;
  }
  .form {
    input,
    input::placeholder {
      color: $white;
      font-size: 18px;
    }
    input {
      padding: 0 15px 13px;
      border-bottom: 1px solid #919191;
    }
    input + input {
      margin-top: 44px;
    }
    button {
      min-height: 50px;
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $white;
      color: $black;
      font-size: 18px;
      line-height: 150%;
      text-transform: uppercase;
    }
  }
  &__close {
    position: absolute;
    top: -25px;
    right: -35px;
  }
  &__btn {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 95px;
    left: 80px;
    background: $black;
    padding: 6px 30px 7px;
    color: $white;
    font-size: 16px;
    text-transform: uppercase;
    span {
      margin-left: 15px;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 253px;
      height: 100%;
      left: 0;
      top: 0;
      background-image: url("../../images/download-shadow.svg");
    }
  }
}
